.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.top {
  display: flex;
  flex-direction: row;
  flex: 3;
  border-bottom: 5px solid;
  width: 100vw;
}

.bottom {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-top: 5px solid;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden
}

.selected {
  border: 3px green solid;
}

/* @todo: use a css reset */
.btn {
  background: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
}
